{% extends 'user/home.html' %}
{% load crispy_forms_tags %}

{% block register_block %}
        <div style="display:flex; justify-content:center; border:2px solid black; background-color:#00FA9A; box-shadow: 5px 5px 5px grey; border-radius:10px; width:30rem; padding:30px;">
        <form method="post">
            {% csrf_token %}
            <h4>
                {{ form|crispy }}<br>
                <button type="submit" class="btn btn-primary">Register</button>
            </h4>
        </form>
    </div>


{% endblock %}