<!--{% extends 'account/book_account.html' %}-->
<!--{% load crispy_forms_tags %}-->

<!--{% block transaction %}-->

<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">New Transaction</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <div style="display:flex; justify-content:center; background-color:#00FA9A;  border:2px solid black; border-radius:10px; width:20rem; padding:30px; box-shadow: 5px 5px 5px grey;">-->
<!--            <form method="post">-->
<!--                {% csrf_token %}-->
<!--                <h3 style="color:white;">{{ current_account.name }}</h3>-->
<!--                <h4 style="color:white;">{{ form|crispy }}</h4>-->
<!--                <button type="submit" class="btn btn-success" style="background-color:#00FA9A;">Add</button>-->
<!--            </form>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--{% endblock %}-->

<!--&lt;!&ndash;<div style="display:flex; justify-content:center; background-color:#00FA9A;  border:2px solid black; border-radius:10px; width:20rem; padding:30px; box-shadow: 5px 5px 5px grey;">&ndash;&gt;-->
<!--&lt;!&ndash;    <form method="post">&ndash;&gt;-->
<!--&lt;!&ndash;        {% csrf_token %}&ndash;&gt;-->
<!--&lt;!&ndash;        <h3 style="color:white;">{{ current_account.name }}</h3>&ndash;&gt;-->
<!--&lt;!&ndash;        <h4 style="color:white;">{{ form|crispy }}</h4>&ndash;&gt;-->
<!--&lt;!&ndash;        <button type="submit" class="btn btn-success" style="background-color:#00FA9A;">Add</button>&ndash;&gt;-->
<!--&lt;!&ndash;    </form>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->